body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e0e0e0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}

.logo-search {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin-right: 20px;
    cursor: pointer;
}

.search-bar {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-button {
    margin-left: 10px;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-size: 14px;
}

.nav-menu a, .log-in, .register, .logout, .profile-image {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.log-in, .register, .logout {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.log-in {
    background-color: #eee;
}

.register {
    background-color: black;
    color: white;
}

.logout {
    background-color: #eee;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

.profile-image:hover {
    box-shadow: 0 0 0 2px #4285f4;
}

.carousel-section, .group-section {
    margin: 40px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.group-section {
    margin-bottom: 20px;
}

.carousel, .small-carousel {
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 5px;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.carousel-track > div {
    scroll-snap-align: start;
}

.content-thumbnail {
    width: 165px;
    height: 247px;
    border-radius: 10px;
    object-fit: cover;
}

.group-thumbnail {
    width: 120px;
    height: 120px; /*80*/
    border-radius: 8px;
    object-fit: cover;
}

.group-name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.enter-crew-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    width: 100%;
}

.enter-crew-btn:hover {
    background-color: #0056b3;
}