<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 일단 작성만 해둔 상태.. 미완성 -->
<mapper namespace="ssd.springcooler.gachiwatch.dao.mybatis.mapper.ReviewMapper">

    <!-- 리뷰 삽입 -->
    <insert id="insertReview" parameterType="Review">
        INSERT INTO review (
        review_id,
        content_id,
        member_id,
        likes,
        review_date
        ) VALUES (
        #{reviewId},
        #{contentId},
        #{memberId},
        #{likes},
        #{reviewDate}
        )
    </insert>

    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="Review">
        UPDATE review
        SET
        likes = #{likes},
        review_date = #{reviewDate}
        WHERE review_id = #{reviewId}
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview">
        DELETE FROM review
        WHERE review_id = #{reviewId}
    </delete>

    <!-- ID로 리뷰 조회 -->
    <select id="getReviewById" resultType="Review">
        SELECT *
        FROM review
        WHERE review_id = #{reviewId}
    </select>

    <!-- 콘텐츠 ID로 리뷰 리스트 조회 -->
    <select id="getReviewsByContentId" resultType="Review">
        SELECT *
        FROM review
        WHERE content_id = #{contentId}
    </select>

    <!-- 유저 ID로 리뷰 리스트 조회 -->
    <select id="getReviewsByUserId" resultType="Review">
        SELECT *
        FROM review
        WHERE member_id = #{userId}
    </select>

</mapper>
